// color
	$primary: #1d9944;
	$secondary: #4fa843;
	$light: #ffffff;
	$light-x: #eeeeee;
	$dark: #111111;
	$gray: #333333;
	$light-gray:#cccccc; 
	$gray-x:#999; 

// Responsive Brackpoint 
	$phones: "(max-width: 575px)";
	$min_phones: "(min-width: 576px)";
	$max_phones: "(max-width: 767px)";
	$min_tablets: "(min-width: 768px)";
	$max_tablets: "(max-width: 991px)";
	$min_desktops: "(min-width: 992px)";
	$max_desktops: "(max-width: 1199px)";
	$large_device: "(min-width: 1200px)";
	
	// @media #{$phones}{
	// 	.d-none{
	// 		display: none;
	// 		display: grid;
	// 		place-items: center;
	// 	}
	// }

// animate.css mixin
	@mixin add($duration, $delay) {
		animation-duration: $duration;
		animation-delay: $delay;
	}

	@for $i from 1 through 5 {
		.add-#{$i}s { @include add($i/2 + 0s, $i/2 + 0s); }
	}
	// animation

	@keyframes moveleft{
		0% {
			opacity: 0;
			transform: translate(-100px);
		}
		80% {
			transform: translate(20px);
		}
		100% {
			opacity: 1;
			transform: translate(0);
		}
	}

// custome style

@font-face {
	font-family: SolaimanLipi;
	src: url(../vendors/font/SolaimanLipi.ttf);
  }
body{
	font-family: 'SolaimanLipi' !important;
}
// .btn-info{
// 	background-color: $primary !important;
//     border-color: $secondary !important;
// }
// overly
.overly {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh!important;
	background: rgba(0,0,0,.5);
	display: none;
	// @media #{$max_phones}{
	// 	display: block;
	// }
}
// Header 
@media #{$max_phones} {
	.m-d-none{
		display: none !important;
	}
}
